<!--heredar templates-->
{% extends 'layout.html' %}

<!--browser name-->
{% block title %} listado de artículos {% endblock %}

{% block content %}

<h1 class="title">listado de artículos</h1>

<!--mensaje-->
{% if messages  %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<!--recorrer interaccion articulo y enlistar-->
        {% for articulo in articulos %}
            <article class="article-item">

                <!-- mostrar imagen en web solo cuando exista img subidos -->
                {% if articulo.image != 'null' and articulo.image|length >= 1 %}

                    <div class="image">
                        <img src="{{articulo.image.url}}"/>
                    </div>

                {% endif %}

                <div class="data">

                    <h2>{{articulo.title}}</h2>
                    <!--mostrar la fecha de creación del Art.-->
                    <span class="date">{{articulo.created_at}}</span>

                    <p>
                    
                        {{articulo.content}}
                        <!--link para eliminar art de BD-->

                        <a href="{% url 'borrar' id=articulo.id %}" class="btn btn-delete">Eliminar</a>
                    </p>
                </div>

                <div class="clearfix"></div>
            </article>

        {% endfor %}


{% endblock %}
