
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        <!--titulo de cada pagina-->
        {% endblock %}
        | Darwin Paz
    </title>

    <!--cargar estilos-->
    {% load static %}
    
    <link rel="stylesheet" type= "text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <header>
        <!--header web-->
        <div id="logo">

        <!--logo-->
        <img src="{% static 'images/favicon-2.png' %}" alt="logo">
    
        <h1>Sitio web con django</h1>
        </div>
    </header>

<!--menü / urls llamar name-->
<nav>

    <ul>
        <li>
        <a href="{% url 'inicio' %}">Inicio</a>
        </li>

        <li>
        <a href="{% url 'hola mundo' %}">Hola Mundo</a>
        </li>

        <li>
        <a href="{% url 'pagina' %}">Página web</a>
        </li>

        <li>
        <a href="{% url 'articulos' %}">Artículos</a>
        </li>

        <li>
        <a href="{% url 'create' %}">Crear artículo</a>
        </li>

        <li>
        <a href="{% url 'contacto' %}">Contacto</a>
        </li>
        
    </ul>

</nav>

<!--div clase efecto 3D-->
<div class="menü">
    <span class="esquina-izquierda"></span>
    <span class="relleno-menü"></span>
    <span class="esquina-derecha"></span>
</div>

    <!--Block contenido-->
    <div id="content">
        <!--Box-->
        <div class="box">
            
            {% block content %}
                <!--Codigo q viene de templates-->
                <strong>contenido del bloque original!!!</strong>
            {% endblock %}
        </div>

    </div>

    <!--footer-->
    <footer>
        ecuador-it &copy; D.Paz - {% now "D/d/m/Y"%} senama nr: {%now " W" %}
    </footer>

</body>
</html>